<div class="container-fluid">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="filters">
            <button class="btn-past">past</button>
            <button class="btn-upcoming">upcoming</button>
            <input class="btn-search" placeholder="search"/>
            <svg xmlns="http://www.w3.org/2000/svg" type="button" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>

        </div>
        <button class="btn-add">add +</button>
        <div class="card-body ol-card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Competition</th>
                        <th scope="col">Competitors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>24.02.2022</td>
                        <td>Bansko</td>
                        <td>WorldCup</td>
                        <td>77</td>
                    </tr>
                    <tr>
                        <td>03.03.2022</td>
                        <td>Pamporovo</td>
                        <td>PamporovoJunior</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>09.03.2022</td>
                        <td>Borovets</td>
                        <td>BorovetsCup</td>
                        <td>42</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>