<div class="container-fluid">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Competitor</th>
                <th scope="col">Team</th>
                <th scope="col">Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Pesho Peshovski</td>
                <td>Peshovski Team</td>
                <td>77</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Petranka Petranova</td>
                <td>Peshovski Team</td>
                <td>56</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Gosho Goshev</td>
                <td>Bulgarian National Team</td>
                <td>99</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>