<div class="container-fluid">
    <div class="col-sm-6 .offset-md-3">
        <div class="controllers">
            <div class="filters-teams">
                <button class="btn-filters">female</button>
                <button class="btn-filters">male</button>
                <button class="btn-filters">teams</button>
            </div>
            <div class="buttons">
                <div class="search">
                    <input class="btn-search" placeholder="search..." />
                    <svg xmlns="http://www.w3.org/2000/svg" type="button" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card-body ol-card-body table-responsive overflow-auto" style="height: 400px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Competitor</th>
                        <th scope="col">Team</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gosho Goshov</td>
                        <td>Moten</td>
                        <td>777</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Eli Dosseva</td>
                        <td>Moten</td>
                        <td>420</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>Pesho Peshov</td>
                        <td>Vitosha</td>
                        <td>380</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>